
/* Styling variables  */
:root {
    --dark-blue-font:#023e7d;
    --default-font-family: "Segoe UI";
}

body{
    margin: 0;
    padding: 0;
}

header{
    border-bottom: 1px solid rgb(240, 240, 240);
}

.navbar{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 5px auto 0 auto;
}

.logo{
    width: 60x;
    height: 60px;
}

.nav-items{
    display: flex;
    margin-top: 5px;
}

.nav-item{
    margin: 10px 50px 0px 50px;
    padding-bottom: 4px;
    font-size: 23px;
    font-weight: bold;
    font-family: var(--default-font-family);
    list-style: none;
    color: var(--dark-blue-font);
}

.active{
    background: #5a13f2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #5a13f2,#ab05f2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right,#5a13f2, #ab05f2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 3px solid #5a13f2;
}

.jumbotron-container{
    height: 100vh;
    background-color: #F8F9FA;
}
